<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let impar of OddNumbers"
            [ngClass]="{impar: impar %2 !==0}"
            [ngStyle]="{backgroundColor:impar %2 !==0 ? 'yellow' : 'transparent'}" >
            {{impar}}
          </li>
        </div>
<!--        <div *ngIf="!onlyOdd">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            *ngFor="let par of EvenNumber"-->
<!--            [ngClass]="{impar: par % 2 !==0}"-->
<!--            [ngStyle]="{backgroundColor: par % 2 !==0 ? 'yellow' : 'transparent'}"  >-->
<!--            {{par}}-->
<!--          </li>-->
<!--        </div>-->
        <div *appAmenosque="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let par of EvenNumber"
            [ngClass]="{impar: par % 2 !==0}"
            [ngStyle]="{backgroundColor: par % 2 !==0 ? 'yellow' : 'transparent'}"  >
            {{par}}
          </li>
        </div>
      </ul>
      <p appmarcador> Darle estilo con la directiva</p>
      <p appMejordirective
         [defaultColor]="'lightBlue'"
         [colorqueresalta]="'red'"
         > Darle estilo con la directiva</p>
    </div>
  </div>
</div>
